<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/style.css">
  <!-- cdn moment -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
  <!-- cdn vue -->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <!-- cdn fonawesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
  <!-- google-font -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <title>boolzap</title>
</head>
<body>

  <div id="app" class="container">
    <!-- left -->
    <div class="left">
      <!-- header left -->
      <div class="header-left">
        <div class="nome-utente-header-left">
          <img :src="mioProfilo.avatar" alt="">
          <span>{{mioProfilo.nome}}</span>
        </div>
        <div>
          <i class="fas fa-circle-notch"></i>
          <i class="fas fa-comment-alt"></i>
          <i class="fas fa-ellipsis-v"></i>
        </div>
      </div>
      <!-- notifiche -->
      <div class="notifiche">
        <div class="container-icon">
          <i class="far fa-bell-slash"></i>
        </div>

        <div class="testo">
          <h4>Ricevi notifiche di nuovi messaggi</h4>
          <span>Attiva notifiche desktop</span>
        </div>
      </div>
      <!-- barra ricerca -->
      <div class="barra-ricerca">
        <div class="casella-input">
          <i class="fas fa-search"></i>
          <input type="text" placeholder="Cerca o inizia una nuova chat">
        </div>
      </div>
      <!-- contatti -->
      <div class="contatti scroll">
          <div class="container-contatto">
            <div v-for="(contatto,index) in contatti" @click='aggiungiContatto(index)'>
              <div class="nome-utente">
                <img :src='contatto.avatar' alt="">
                <h4>{{contatto.nome}}</h4>

              </div>
            </div>
          </div>
      </div> <!-- /contatti -->
    </div> <!-- /left -->

    <!-- right -->
    <div class="right">
      <!-- header right -->
      <div class="header-right">
        <div class="utente-right">
          <img :src="contatti[indexUtenteSelezionato].avatar" alt="">
        <div>
          <h4>{{contatti[indexUtenteSelezionato].nome + contatti[indexUtenteSelezionato].messages.date}}</h4>
          <!-- <div>Ultimo accesso alle:</div> -->
        </div>
      </div>

        <div>
          <i class="fas fa-search"></i>
          <i class="fas fa-paperclip"></i>
          <i class="fas fa-ellipsis-v"></i>
        </div>
      </div> <!-- /header right -->

      <!-- chat -->
      <div class="chat scroll">
        <div class="fumetto" :class="messaggio.status" v-for="(messaggio, index) in contatti[indexUtenteSelezionato].messages">
      <!--1) prima eseguiamo il ciclo for
          2) aggiungiamo la classe :class="messaggio.status
          3)per visualizzare il testo -->
          {{messaggio.text + messaggio.date}}
        </div>

      </div>
      <!-- footer right -->
      <div class="footer-right">
        <i class="far fa-smile"></i>
        <input type="text" @keyup.enter="aggiungiTesto" v-model="parolaDigitata" placeholder="Scrivi un messaggio">
        <!-- <input type="reset" value="Reset"> -->
        <i class="fas fa-microphone"></i>
      </div>

    </div> <!-- /right -->




  </div> <!-- /container -->
<script src="js/script.js" charset="utf-8"></script>

</body>
</html>
